@import "bootstrap";

.col-md-3:nth-child(4n+1) {
	clear: left;
}

.jumbotron {	
	background-image: url('https://dl-web.dropbox.com/get/Apps/etsydemo-kikyou/jumbotron.jpg?_subject_uid=375068161&w=AADIUCrzU7dp4foZDVvYvZj-0ywQIZffuY8LAdUqnnRMDQ');
	h1,h2 {font-family: gaurdian-egypt;}
}